.main {
  background-color: #fc0c5c;
  height: 100vh;
  margin: auto;
  background-image: radial-gradient(
      circle at center,
      #fbe56cd7,
      #ffd900d0,
      #ff9900c8,
      #a94706b3
    ),
    url('https://images.pexels.com/photos/1283219/pexels-photo-1283219.jpeg?auto=compress&cs=tinysrgb&w=600');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0px;
}

.body {
  display: flex;
  align-items: center;
  padding: 20px 40px;
  margin: auto;
  justify-content: space-between;
}

.welcome {
  color: #fff;
  width: 50%;
  text-shadow: #353535a8 5px 5px 5px;
}

.welcome h2 {
  font-size: 45px;
  font-family: 'Roboto';
}

.welcome h2 span {
  font-family: 'Climate Crisis';
  letter-spacing: 2px;
}

.body img {
  height: 600px;
  box-shadow: #34031963 -10px -5px 5px;
}

.register button {
  cursor: pointer;
  background-color: transparent;
  color: #ec9f12;
  border: none;
}

.p {
  font-size: 18px;
  text-shadow: #000 3px 3px 3px;
}
