.main {
  height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #797878;
}

.form_main {
  background-color: #f64d85;
  padding: 8px 16px;
}

.form_main h1 {
  color: #fff;
  font-weight: 700;
  font-size: 35px;
  font-family: 'Roboto';
  text-shadow: #500f2584 5px 5px 5px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  gap: 15px;
}

.form input {
  padding: 3px 7px;
  height: 30px;
}

.create {
  padding: 3px 8px;
  color: #f85f94;
  background-color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5px;
  font-style: italic;
}

.create:hover {
  background-color: #f85f94;
  color: #fff;
  transition: 0.7s;
}
