.menu {
  display: flex;
  flex-direction: column;
}

.menu button {
  padding: 3px 8px;
  background-color: #ffce5b;
  color: #fff;
  border: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  font-style: italic;
}
