.main {
  width: 100vw;
  display: flex;
  flex-direction: row;
  gap: 10px;
  /* align-items: center; */
}

.right {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  /* position: absolute; */
  gap: 15px;
  justify-content: space-evenly;
}

.left {
  width: 20%;
  /* position: fixed; */
}

.drink_card {
  width: 200px;
}

.drink_card img {
  width: 180px;
  height: 280px;
}
