.main {
  background-color: #1e0b07;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
  color: #fff;
  align-items: center;
}

.header_left h1 {
  font-family: 'Climate Crisis';
  letter-spacing: 2px;
}

.header_right {
  justify-content: space-evenly;
  display: flex;
  gap: 20px;
  flex-direction: row;
}

.header_right button {
  padding: 3px 8px;
  background-color: #ec9f12;
  color: #fff;
  border: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  font-style: italic;
}

.header_right button:hover {
  color: #ec9f12;
  background-color: #fff;
  transition: 0.7s;
}

@media only screen and (max-width: 768px) {
  .main {
    width: 100vw;
  }

  .header_left h1 {
    font-size: 16px;
  }

  .header {
    justify-content: space-between;
    width: 100%;
  }

  .header_right {
    gap: 10px;
  }

  .header_right button {
    width: fit-content;
    padding: 2px 5px;
    font-size: 14px;
  }
}
